*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
  --ana-mavi: #2A6F97;
  --açik-mavi: #A9D6E5;
  --acik-yesil: #7fa889;
  --soft-yesil: #dfeee2;
  --bej: #f5f3eb;
  --arka: #fafcf9;
  --yazi: #1a1f1b;
}

/*-- ANA MENÜ VE ANA SAYFA --*/

/*--SAĞ GÖRSEL--*/
.container{
   background-color: var(--açik-mavi);;
}
.solmenü{
    background-color: #2A6F97;
    width: 18vw;
    height: 102vh;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: fixed;
  
}
.saggorsel{
   flex: 1;
   height: auto;
   margin-left: 18vw;
}
.logo{
    width: 14vw;
    margin-top: vw;
}
.liste{
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.2vw;
    gap: 1.6vw;
    margin-top: -2vw;
    color: white;
    margin-left: -0.2vw;
}
.iki{
    font-size: 0.8vw;
}
.img img{
    width: 100%;
    height: clamp(154px, 52.6vw, 908px);
    display: block;;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.img h1{
    position: absolute;
    color: white;
    font-size: 3vw;
    margin-top: 9vw;
    margin-left: -20vw;
    text-shadow: 2px 2px 8px black;
}
.img .uyari{
    position: absolute;
    color: white;
    font-size: 2.2vw;
    margin-top: 17vw;
    margin-left: -16vw;
    text-shadow: 2px 2px 8px black;
}


/*--KÖY HAKKINDA--*/
.bilgiler{
    backdrop-filter: blur(10px);
    background-color: rgb(42, 111, 151, 0.7);
    width: 25vw;
    height: 28.5vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 33vw 5vw;
    border-radius: 0.5vw;
    text-align: center;
    font-size: 1.1vw;
    padding: 2vw 4vw;
    color: white;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}
.bilgiler p{
    padding-top: 0.5vw;
}
#bilgi{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}


/*--FOTOĞRAF ARŞİVİ--*/
 .fotoarsiv{
    text-align: center;
    font-size: 1.5vw;;
    width: 45vw;
    margin-left: auto;
    margin-top: 3vw;
    margin-right: 3vw;
 }
 .fotoarsiv h2{
    display: bloc;
    width: fit-content;
    margin: 0.5vw auto;
    background-color: var(--ana-mavi);
    color: white;
    padding: 0.8vw 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
 }
.arsiv img{
    width: 100%;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
     border-radius: 0.5vw;
}
.arsiv{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5vw 1.2vw;
    padding: 1vw 2vw;
}
.devambtn{
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 0.1vw auto;
    background-color: var(--ana-mavi);
    color: white;
    padding: 1vw 1.5vw;
    border-radius: 0.5vw;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
}

/*-- DUYURULAR--*/
.duyurular{
    background-color: #1a1f1b;
    width: 27vw;
    height: 45vw;
    position: absolute;
    margin-top: -45vw;
    margin-left: 3.6vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.5);
     border-radius: 0.5vw;
}
.duyurular img{
    width: 100%;
    transform: scale(1.2);
    display: block;
}

/*--GEÇMİŞTEN İZLER--*/
.geçmiştenizler{
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
    margin-top: 2vw;
}
.geçmiştenizler img{
    width: 100%;
}


.iletisim h3{
    text-align: center;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    padding: 2vw;
    gap: 25vw;
}

/* -- MOBİL UYUM ANA MENÜ VE ANA SAYFA -*/
@media (max-width: 1000px) {
}
